<h2>Cumulative Clients</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>
        Cohort
      </th>
      <th>
        Activation
      </th>
      <% (@analysis.size).times do |i| %>
        <th>
          <%= i %> week
        </th>
      <% end %>
    </tr>
  </thead>
  <% index = 0 %>
  <% @analysis.each do |cohort, activities| %>
    <tr>
      <td>
        <strong><%= cohort.to_s[5,10] %></strong>
      </td>
      <td>
        <%= activities[0].size %>
      </td>
      <% cumulative = {} %>
      <% (1..@analysis.size).each do |i| %>
        <% cumulative.merge!(activities[i]) unless activities[i].nil? %>
        <td>
          <% if (@analysis.size - i) >= index %>
            <p><%= ((cumulative.size.to_f/activities[0].size)*100).round(0) %>% <small>(<%= cumulative.size %>)</small></p>
          <% else %>
            --
          <% end %>
        </td>
      <% end %>
    </tr>
    <% index += 1 %>
  <% end %>
</table>